In [1]:
#import toml
#from LIB_consumer_agent import get_pantry_max, get_current_price, compute_total_purchases, compute_average_price
from cabm_agents import ConsumerModel

In [2]:
# config = toml.load("config.toml")

# household_sizes = config['household']["household_sizes"]
# household_size_distribution = config["household"]["household_size_distribution"]
# base_consumption_rate = config["household"]["base_consumption_rate"]
# pantry_min_percent = config["household"]["pantry_min_percent"]
# base_product_price = config["brands"]["A"]["base_product_price"]
# promo_depths = config["brands"]["A"]["promo_depths"]
# promo_frequencies = config["brands"]["A"]["promo_frequencies"]

In [3]:
model = ConsumerModel(10)

In [4]:
for i in range(10):
    model.step()

1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
6
7
7
7
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9
9
10
10
10
10
10
10
10
10
10
10

In [5]:
model.datacollector.get_model_vars_dataframe()

   Total_Purchases  Average_Product_Price  Week_Number
0                0                  5.000            1
1                0                  4.000            2
2                0                  4.750            3
3                0                  3.875            4
4                0                  3.875            5
5                0                  3.875            6
6                0                  4.250            7
7                0                  3.875            8
8                0                  4.375            9
9                0                  4.375           10